#game {
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: #cbd5e0;
    position: relative;
}

.bloc {
    width: 98px;
    height: 98px;
    line-height: 98px;
    background-color: #2d3748;
    border: 1px solid #1a202c;
    color: #cbd5e0;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
}

.bloc-empty {
    background-color: transparent;
}
